  html, body {
            height: 100%;
            margin: 0;
        }

  .boldheader {
      font-family: 'Raleway';
      font-weight: 900;
      font-size: 50px;

  }


.form-control {
font-size: 25px;

    
    
}

h1 {
    
font-size: 55px;    
    
}

.formgroup {

    padding-left: 40px;
    padding-right: 40px;
    font-size-adjust: 0.25;



}

.formheaders {
font-family: 'Raleway';
font-weight: 600;


}
.form-add-on {
font-family:'FontAwesome','Fjalla One';
text-indent: 10px;
 color: cornflowerblue;
border: none;
    border-bottom: 1px solid;
    background-color: transparent;
height: 50px;
text-align: center;
    
}


.formsubmit {
    font-family:'FontAwesome','Raleway';

    border: solid 1px;
    border-radius: 15px;
    color: cornflowerblue;
    margin-bottom: 15px;


}


.logo {

padding: 10px;    
    
    
}


/*
LOGIN PAGE STARTS
*/

.loginsection{
font-family: 'Raleway', sans-serif;
position: relative;
color: cornflowerblue;
min-height: 100%;
font-size: 20px;
text-align: center;
text-decoration: none;
    
}

.loginheader {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding-bottom: 30px;

}



  .greetingsection{
      font-family: 'Fjalla One', sans-serif;
      position: relative;
      color: cornflowerblue;
      background-color: rgba(174, 217, 244, 0.58);

      min-height: 100%;
      font-size: 20px;
      text-align: center;
      text-decoration: none;

  }

.loginpagecontainer {

    background: rgba(134,174,204,1);
    background: -moz-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(134,174,204,1)), color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(134,174,204,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(134,174,204,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#ffffff', GradientType=0 );
z-index: 0;



}
.loginpageform {

    background-color: rgba(255, 255, 255, 0.74);
    padding: 10px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    border: solid 0.5px #007AC4;
    z-index: 1;
    font-size-adjust: 0.25;


}
.loginpage a, h2{

    color: cornflowerblue;
    font-size-adjust: 0.25;


}


 .loginpage a:hover {
text-decoration: none;
 color:#add9f4;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
    }

.loginalerts {
font-size: 30px;    
color:cornflowerblue;
    
    
}

.img-responsive {
    margin: 0 auto;
}

button {
    font-family: 'FontAwesome', 'Fjalla One';
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
border-radius: 15px;
 border: solid 1px orange;
    margin-bottom: 15px;

}

.submit {
    color: cornflowerblue;
  border: none;
}


.cityimage {
    position: relative;
    z-index: 0;
    bottom: 50px;
}
/*
LOGIN PAGE ENDS
*/

/*
REGISTER PAGE STARTS
*/

.registerpage{
font-family: 'Raleway', sans-serif;
position: relative;
color: cornflowerblue;
min-height: 100%;    
font-size: 20px; 
text-align: center;
background-image: url(../images/registerbackground.jpg);
background-repeat: no-repeat;
background-size: cover;
text-decoration: none;
padding: 15px;
}

.registerpageform  {

background-color: rgba(255, 255, 255, 0.85);
background-position: 10px 25px;
padding: 10px;
text-align: center;
  margin: auto;

    border-radius: 15px;
}



 .registerpage a:hover {
text-decoration: none;
 color:cornflowerblue; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;   
    
    
}




/*
REGISTER PAGE ENDS
*/

/*
EDIT PROFILE PAGE STARTS
*/

.editprofilepictureform  {
    
background-color: rgba(255, 255, 255, 0.74);
background-position: 10px 25px;    
padding: 10px;  
text-align: center;

  margin: auto; 
    
    border-radius: 15px;   
}


/*
EDIT PROFILE PAGE ENDS
*/


/*
LOGINCHECK STARTS
*/

.logincheck{
    
font-family: 'Fjalla One', sans-serif; 
font-size: 50px;
text-decoration: none;
text-align: center;
height: 100%;
    
}

.logincheck h1 {
font-size: 50px;       
color:orange;    
  
}
/*
LOGINCHECK ENDS
*/


/*
EDIT PAGE STARTS
*/

.editpage, .addpage{
font-family: 'Raleway', sans-serif;
position: relative;
color: cornflowerblue;
min-height: 100%;    
font-size: 20px; 
text-align: center;
background: url(../images/loginbackground.jpg)no-repeat center center;
background-repeat: no-repeat;
background-size: cover;
text-decoration: none;
padding: 15px;

}
.editpageform, .addpageform  {
    
background-color: rgba(255, 255, 255, 0.74);
background-position: 10px 25px;    
padding: 10px;  
text-align: center;
  margin: 0 auto;
border-radius: 15px;      
}

.editpageform a{
color: black; 
text-decoration: none;    
    
}


.editpageerror{
font-family: 'Fjalla One', sans-serif; 
position: relative;
color: orange;
min-height: 100%;    
font-size: 60px; 
text-align: center;    
    
}

.editpageform  a:hover {
text-decoration: none;
 color:orange; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
    }





/*
EDIT PAGE ENDS
*/

/*
DELETE PAGE STARTS
*/
.deleterecord{
font-family: 'Raleway', sans-serif;
position: relative;
color: cornflowerblue;
font-weight: 900;
min-height: 100%;    
font-size: 20px; 
text-align: center;

    
}

.deletecheck {
position: absolute;        
width: 100%;  
bottom: 200px; 
padding: 15px;
}

/*
DELETE PAGE ENDS
*/

/*
FOOTER STARTS
*/

.footer {
    font-family: 'Oswald', sans-serif; 
    display: inline;
 
    
}

/*
FOOTER ENDS
*/


.formsubmit:hover {
text-decoration: none;
 color:#add9f4; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
    }


/* MAIN TABLE NAV STARTS */
  .navbar-brand {
  height: 70px;
padding: 5px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {

    font-family: 'Fjalla One', sans-serif;
    color: rgba(119, 119, 119, 1);

}


  .navbar {
      font-family: 'Fjalla One', sans-serif;
      color: rgba(119, 119, 119, 1);
      font-size: 20px;
      background-color: #add9f4;
      padding: 0;
}



/* MAIN TABLE NAV ENDS */



/* MAIN TABLE CONTENT STARTS */

.mainpagesection1 {
    position: relative;
    font-size: 55px;
    color: #add9f4;
    text-align: center;
    line-height: 100px;
 background-image: url(../images/nestlings.jpg);
background-repeat: no-repeat;
background-size: cover;
text-decoration: none;      
    
    
    
}


.transparency {
background-color:  rgba(255, 255, 255, 0.5);
    
}



.mainpagesection2 {
position: relative;
text-align: center;    
background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
background-repeat: no-repeat;
background-size: cover;
text-decoration: none;   
padding-bottom: 70px;  
    
}

#searchTable{
font-family: 'Raleway', sans-serif;
height: 70px;
width: 100%;
float: left;
font-size: 30px;
text-align: center;
background-color: white;
color: black;
   border-style: solid;
    border-color: black;    
    
    
    
    
}


table a {
    
 color: orange;
 
    
    
}

table a:hover {
text-decoration: none;
 color:cornflowerblue; 
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
    }
th, td {
    font-family: 'Raleway';
    border: solid black 1px; 
    font-size: 20px;
padding: 5px;
text-align: center;
background-color: white;    
}

.profilepic {
    
width: 140px;
height: 140px; 
padding: 10px;    
    
}

.submittedbypicture {
    
width: 100px;
height: 100px;
    
    
}

.description {
    font-family: 'Oswald';
    font-size: 18px;
    text-align: left;
    }



.tablesection  {


    border: 1px solid black;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px;
    padding-bottom: 30px;

}

.tabledescription {
    font-size: 18px;

}



.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.databasefacts {
	
background-color: rgba(255, 255, 255, 0.49);	
	
}

.databasefacttext {
font-family: Raleway;
border-bottom: 1px solid #add9f4;
margin: 15px;
    
}



.editdelete a {
    
    color: orange;
    
    
}

.useractions {
	
float:right;
	
}

 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {


        }
        
        


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {


    }


 /* Smartphone  */
   @media only screen and (min-width : 240px)  and (max-width : 968px) {
       #container {
           width: 100%;
       }

       table.gridtable {
           width: 100%;
       }

       table th {
           display: none;
       }

       table tr {
           display: block;

       }

       table td {
           display: block;
           text-align: right;
           font-size: 20px;
           margin-bottom: 1px;
           min-height: 14px
       }

       table td:before {
           content: attr(data-label);
           float: left;

       }

       .loginpageform {

           background-color: rgba(255, 255, 255, 0.74);
           padding: 10px;
           width: 95%;
           text-align: center;
           margin: 0 auto;
           border-radius: 15px;
           border: solid 0.5px #007AC4;

       }



       .form-add-on {
           font-family: 'FontAwesome', 'Fjalla One';
           text-indent: 10px;
           color: cornflowerblue;
           border: none;
           border-bottom: 1px solid;
           background-color: transparent;
           height: 30px;
           text-align: center;

       }
   }


/* MAIN TABLE CONTENT ENDS */

